.forma{
    margin-top: 3%;
    width: 35%;
    min-width: 280px ;
    padding: 2% 2% 2% 2%;
    background-color: rgb(76, 68, 194);
}
.subbt{
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 1%;
    align-content: center;
}
.widths{
    width: 100%;
}
.logoauth{
    position: relative;
    padding: 0% 40% 2%;
}