<div class="container forma" >
    <form class="align-center" width="40%" heigth="60%" >
      <div class="logoauth">
          <img src="assets/Add User Male96px.png" width="60px"> 
      </div>
      <div class="form-group">
          <label for="exampleInputEmail1" style="color:white">Name</label>
          <input type="text" class="form-control" id="exampleInputname" aria-describedby="nameHelp" placeholder="Enter your name">
          <small id="nameHelp" class="form-text text-muted">Please add your complete name.</small>
      </div>
      <div class="form-group">
          <label for="exampleInputtel" style="color:white">Phone / Tel</label>
          <input type="number" class="form-control" id="exampleInputtel" placeholder="Phone number">
        </div>
        <div class="form-group">
            <label for="exampleInputmail" style="color:white">e-Mail adress</label>
            <input type="email" class="form-control" id="exampleInputmail" placeholder="Enter your email">
          </div>
        <div class="form-group">
          <label for="exampleInputPassword1" style="color:white">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        
        <div class="form-group">
            <label for="exampleInputPassword2" style="color:white"> Retype your Password</label>
            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
          </div>
        <div class="subbt">
            <a routerLink="home"><button type="submit " class="btn btn-secondary widths" >Save profile</button></a>
        </div> 
      </form>
</div> 
