<nav class="navbar fixed-bottom navbar-expand-lg navbar-light" style="background-color: #959799;">
  <div class="navbar-nav">
    <a routerLink="/contact" class="nav-item nav-link" >Contact</a>
  </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">Help</a>
        <a class="nav-item nav-link" href="#">GitHub <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Donate</a>
        <a class="nav-item nav-link" href="#">Tutorial</a>
        <a class="nav-item nav-link" href="#">Trainings</a>
        <form class="form-inline aligna my-2 my-lg-0">
          <a href="#" padding-right="10px"><img src="assets/Twitter64pxw.png" width="40px"></a>
          <a href="#" padding-right="10px"><img src="assets/Instagram64px.png" width="40px"></a>
          <a href="#" padding-right="10px"><img src="assets/LinkedIn64px.png" width="40px"></a>
          <a href="#" padding-right="10px"><img src="assets/uTorrent64px.png" width="40px"></a>
          <a target="_blank" href="http://facebook.com" padding-right="10px"><img src="assets/Facebook64px.png" width="40px"></a>
        </form>
      </div>
    </div>
  </nav>
