<div class="row">
  <div class="col-sm-6">
      <div id ="card1" class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Bootstrap</h5>
            <h6 class="card-subtitle mb-2 text-muted">Exemples</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="https://getbootstrap.com" class="card-link">Go to</a>
          </div>
        </div>
  </div>
  <div id="card2" class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Experience magic development</h5>
        <p class="card-text">Use framework assemblies to speedup your sprints/Design elements, playground and code</p>
        <a href="#" class="btn btn-primary">Get th experience</a>
      </div>
    </div>
  </div>
</div>
<div id = "leveltop" class="jumbotron jumbotron-fluid">
    <div class="container" width="100%">
      <h1 class="display-4">Online Courses</h1>
      <p class="lead">
          Suscribe Now and get the digital version of our release immediatly
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-6">
          <div id ="card1" class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Bootstrap</h5>
                <h6 class="card-subtitle mb-2 text-muted">Exemples</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="https://getbootstrap.com" class="card-link">Go to</a>
              </div>
            </div>
      </div>
      <div id="card2" class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Experience magic development</h5>
            <p class="card-text">Use framework assemblies to speedup your sprints/Design elements, playground and code</p>
            <a href="#" class="btn btn-primary">Get th experience</a>
          </div>
        </div>
      </div>
    </div>