<div class="container forma" >
    <form class="align-center" width="40%" heigth="60%" >
      <div class="logoauth">
          <img src="assets/Lock96px.png" width="60px"> 
      </div>
         
      <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Remember me</label>
        </div>
        <div class="subbt">
            <a routerLink="home"><button type="submit " class="btn btn-success widths" >Log In</button></a>
        </div> 
        <div class="or-container">
            <hr class="or-hr">
        </div>
        <div class="subbt">
            <a routerLink="/reg"><button type="submit " class="btn btn-secondary widths" >Sign In</button></a>
        </div> 
      </form>
</div> 
