.forma{
    margin-top: 10%;
    width: 35%;
    min-width: 280px ;
    padding: 2% 2% 2% 2%;
    background-color: rgb(48, 146, 233);
}
.subbt{
    padding-top: 1%;
    padding-bottom: 0%;
    padding-left: 2%;
    align-content: center;
}
.widths{
    width: 100%;
}
.logoauth{
    position: relative;
    padding: 2% 40% 2%;
}
#emailHelp{
    color: rgba(0, 0, 0, 0.774);
}